__pycache__/
razno.txt
data/app/log/log.txt
data/app/settings/users.json
data/app/settings/languages.json
data/app/settings/settings.json
data/app/settings/crash.json
data/user/3files/
data/user/3images/
data/user/4files/
data/user/4images/
data/user/3_mama.db
data/user/4_DsoftN.db
data/user/3_mama.json
data/user/4_DsoftN.json
data/user/app_var_3_mama.json
data/user/app_var_4_DsoftN.json
data/app/settings/dictionary.db